aiohttp
beautifulsoup4
discord.py
fastapi
langchain
matplotlib
numpy
openai
pandas
pydantic
pymongo
PyPDF2
python-dotenv
Requests
streamlit
streamlit_js_eval
pypdf
redis
guidance
sentence_transformers
unstructured
chromadb
redis_om
faiss-cpu
tiktoken
pytesseract
nltk
